*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.center{
margin: 0 auto;
}

.flex-column{
display:flex;
flex-direction:column;

}

.flex-row{
    display: flex;
    flex-direction: row;
}

ul{
    list-style-type:none;
}

li{
padding: 1%;
}

img{
    width: 30%;
    margin-left: 25%;
}

header{
    background-color: orangered;
    color: white;
}
nav{
    align-items: center;
}

.column{
    position: relative;
    background-color: magenta;
    height: 400px;

    
}

.text{
    text-align: start;
}

.dashed{
    border: dashed;
}

footer{
    background-color: black;
    color: white;
    height: 80px;
}

.space-beetween{
justify-content: space-between;
}
.container{
    width: 80%;
}

.heart{
    position: absolute;
    background-color: white;
    top: 1%;
    right: 0;
    padding: 2%;
    font-size: xx-large;
}

.discount{
    position: absolute;
    background-color: red;
    color: white;
    padding: 1%;
    bottom: 2%;
    left: 0;
    margin-right: 1%;
}

.ecology{
position: absolute;
background-color: green;
color: white;
padding: 1%;
left:0;
bottom: 2%;
margin-right: 1%;
}

.ecologybeside{
    bottom:2%;
    left:12%;
}